.Form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  width: fit-content;
}

.List {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.Item {
  margin-bottom: 15px;
}

.Label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-transform: capitalize;
}

.Input {
  min-width: 300px;
  min-height: 25px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  padding-left: 5px;
}

.Btn {
  margin-left: auto;
  margin-right: auto;
  padding: 5px, 15px;
  min-width: 100px;
  min-height: 30px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
}

.Btn:hover,
.Btn:focus {
  background-color: gray;
  color: white;
}
